.social-links
    margin-top: 20px
    > .link
        margin: 0
        text-decoration: none
        position: relative
        display: inline-block
        height: 70px
        width: 70px
        &:hover
            > .icon
                color: $omega
                background: $delta
                border: 2px solid $delta
        &:active
            > .icon
                color: $omega
                background: $delta
                border: 2px solid $delta
        > .icon
            display: inline-block
            justify-content: center
            align-items: center
            font-size: 23px
            color: $page-title
            transition: all ease-in-out .2s
            text-align: center
            width: 25px
            height: 25px
            padding: 10px
            margin: 5px
            border-radius: 50%
            border: 2px solid $page-title
            transition: all .5s
